/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2016, 5:22:00 PM
    Author     : dangiomr
*/

body{
    background: url('Wilson_Background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    -moz-opacity: 0.5;

}
#wrapper{
    background: white; 
    width: 350px; 
    border-radius: 5px;
    padding-top: 5px;
}
#wrapper2{
    background:white;
    width:350px;
    border-radius: 5px;
    padding: 5px;
}

#wrapper3{
    margin:5px auto;
    padding:5px;
    background:white;
    width:504px;
    border:1px solid #ACD8F0;
    border-radius: 5px;
}

h1, h2, h3{
    text-align: center;
    
}
input[type=text], input[type=password], input[type=email]{
    width:20em;
}
div.container{
    width: 100%;
}
/* navbar */
.navbar-default {
    background-color: purple;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
#logo{
    width:2em;
    height:2em;
}
.btn{
    width:20em;
    background-color: purple;
    border-color: purple;
    color:white;
}
.btn:hover{
    background-color: purple;
    color:white;
}